<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>


      </div>
    </div>

    <% if current_user && current_user.id == session[:user_id] %>
      <div class="row">
        <h3>
          Add a New review
        </h3>
        <%= form_for([@product, @new_review])  do |f| %>
          Star Rating: <%= f.select :rating, @rating_options %><br>
          Description: <%= f.text_area :description %><br>
          <%= f.submit %>

        <% end %>
      </div>
    <% end %>

    <% if !@reviews.empty? %>
      <div class="row">
          <h3>
            Product Reviews
          </h3>
          <h4>
            Overall Rating <%= average_product_rating(params[:id]) %>
          </h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="1">Rating</th>
              <th>Description</th>
            </tr>
          </thead>
          <tr>
            <% @reviews.each do |review| %>
              <tr>
                <th>
                   <%= review.rating %>
                </th>
                <th>
                   "<%= review.description %>"
                  <% if current_user && (session[:user_id] == review.user_id) %>
                      <%= link_to "delete", [@product, review], method: :delete, class: 'btn btn-info' %>
                  <% end %>
                </th>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>



  </article>

</section>
